.singleCommentBox {

    display: flex;


}

.singleCommentBox .leftHeadImg {
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

.rightContentArea {
    width: 100%;

}

.rightContentArea .firstLineContent {
    display: flex;
    justify-content: space-between;

}

.rightContentArea .firstLineContent .userName {
    color: #969696;
    font-size: 12px;
}

.rightContentArea .firstLineContent .goodMark {
    /*color: #969696;*/
    /*font-size: 10px;*/
    display: flex;
}

.rightContentArea .firstLineContent .goodMark .singleGoodMarkIcon {
    width: 15px;
    margin-right: 5px;
}

.rightContentArea .firstLineContent .goodMark .singleGoodMarkCount {
    color: #969696;
}

.rightContentArea .secondLineContent {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.rightContentArea .secondLineContent .showTime {
    color: #C8C8C8;
    font-size: 12px;
}

.rightContentArea .secondLineContent .replyBtn {
    color: #969696;
    font-size: 12px;
}

.commentContent {
    color: #323232;
    font-size: 16px;
    margin-top: 10px;
}

.commentInputBox {
    /*height: 50px;*/
    /*border: 1px solid #ECECEC;*/
    margin-top: 13px;
    display: flex;
    justify-content: space-between;
}

.commentInputBox .comInput {
    height: 34px;
    border: 1px solid #E6E6E6;
    width: 60%;
}

.commentInputBox .comInputBtn {
    width: 82px;
    height: 34px;
    background: #13B3F8;
    text-align: center;
    line-height: 34px;
    color: white;
    font-size: 12px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
