.commentTextAreaBoxGk {
    width: 100%;
    height: 200px;
    background: white;
    position: fixed;
    top: 100px;
    left: 0;
    right: 0;
    z-index: 100000000;
    max-width: 768px;
    margin: 0 auto;
}

.commentTextAreaBoxGk .btnBoxGk {
    margin: 0 15px;
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.commentTextAreaBoxGk .btnBoxGk .cancel_LI {
    font-size: 14px;
    color: rgb(150, 150, 150);
}

.release_LI {
    font-size: 14px;
    color: #3CC51F;
}

.weui-cells{
    margin-top: 0;
}